@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-opacity {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@layer utilities {
  .animate-fade-opacity {
    animation: fade-opacity 4s ease-in-out infinite;
  }
}